---
- name: "Configuration Backup Playbook"
  hosts: switches
  gather_facts: no
  connection: network_cli
  vars:
    backup_dir: "./backup"

  tasks:
    - name: "Create backup directory"
      file:
        path: "{{ backup_dir }}"
        state: directory
      delegate_to: localhost
      run_once: true

    - name: "Set timestamp variable"
      set_fact:
        timestamp: "{{ lookup('pipe', 'date +%m-%d-%Y') }}"
      delegate_to: localhost
      run_once: true

    - name: "Backup Juniper configuration"
      block:
        - name: "Get configuration"
          cli_command:
            command: "show configuration"
          register: config_output

        - name: "Save to file"
          copy:
            content: "{{ config_output.stdout }}"
            dest: "{{ backup_dir }}/{{ inventory_hostname }}_{{ timestamp }}.conf"
          delegate_to: localhost
      when: ansible_network_os == 'junos'

    - name: "Backup Cisco IOS Configuration"
      cisco.ios.ios_config:
        backup: yes
        backup_options:
          filename: "{{ inventory_hostname }}_{{ timestamp }}.conf"
          dir_path: "{{ backup_dir }}"
      when: ansible_network_os == 'ios'

    - name: "Backup Cisco NXOS Configuration"
      cisco.nxos.nxos_config:
        backup: yes
        backup_options:
          filename: "{{ inventory_hostname }}_{{ timestamp }}.conf"
          dir_path: "{{ backup_dir }}"
      when: ansible_network_os == 'nxos'